* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

.App {
  text-align: center;
}

.Header {
  background-color: rgb(3, 109, 230);
  color: orangered;
  display: flex;
  justify-content: center;
  align-items: center;
}
